@font-face {
  font-family: 'AvenirNext LT Pro Regular';
  src: url('AvenirNextLTPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'AvenirNext LT Pro Regular', sans-serif;
    height: 100vh !important;
}

.container-fluid {
    height: 100vh !important;
}

.shiny-fluid-row {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#linePlotPanel {
    margin-left: 0px;
    margin-right: 0px;
    height: 40vh !important;
}

#mapPanel {
    margin-left: 0px;
    margin-right: 0px;
    height: 60vh !important;
}

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: transparent !important;
	    height: 60vh;
  	    padding: 0 0 0 0;
}

#choroplethMap {
    height: 60vh !important;
}

#barChart {
    height: 60vh !important;
    font-size: 14pt;
}

/* change color of sidepanel text background */
         #textpanel {
            background-color: transparent !important;            
        }


.leaflet-popup-tip {
    display: none !important;
}

.info.legend.leaflet-control {
      background-color: transparent !important;
      border: none !important;
      box-shadow: none !important;
    }

.info.legend.leaflet-control > :first-child {
            max-width: 100px;
            word-wrap: break-word;
    .info.legend.leaflet-control > :forth-child + div {
      display: none;
  }

